@model IEnumerable<BugTracker.Models.Comment>

@{
    ViewBag.Title = "Index";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CommentBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentText)
        </th>
        <th>Details</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CommentBy.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentDate.LocalDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentText)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
