@model BugTracker.Models.History

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>History</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HistoryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewPriority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewPriority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldDeveloper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldDeveloper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewDeveloper)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewDeveloper)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDoneBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDoneBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
