@model IEnumerable<BugTracker.Models.History>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HistoryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OldPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewPriority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OldDeveloper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewDeveloper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDoneBy)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HistoryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OldPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewPriority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OldDeveloper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewDeveloper)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDoneBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
