@*@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>*@

@model IEnumerable<System.Web.Mvc.SelectListItem>

@{
    ViewBag.Title = "ManageUserRoles";
}

<h2>Manage User Roles</h2>
@Html.ActionLink("Create New Role", "Create") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />

<div class="panel panel-default">
    <div class="panel-heading">Role Add to User</div>
    <div class="panel-body">

        @using (Html.BeginForm("RoleAddToUser", "Roles"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                Username : @Html.TextBox("UserName")
                Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")
            </p>

            <input type="submit" value="Save" />
        }
    </div>
</div>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">Get Roles for a User</div>
    <div class="panel-body">

        @using (Html.BeginForm("GetRoles", "Roles"))
        {
            @Html.AntiForgeryToken()
            <p>
                Username : @Html.TextBox("UserName")
                <input type="submit" value="Get Roles for this User" />
            </p>
        }
        @if (ViewBag.RolesForThisUser != null)
        {
            <ol>
                @foreach (string s in ViewBag.RolesForThisUser)
                {
                    <li>@s</li>
                }
            </ol>
        }

    </div>
</div>

<hr />

<div class="panel panel-default">
    <div class="panel-heading">Delete a User from a Role</div>
    <div class="panel-body">
        @using (Html.BeginForm("DeleteRoleForUser", "Roles"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <p>
                Username : @Html.TextBox("UserName")
                Role Name: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")

            </p>

            <input type="submit" value="Delete this user from Role" />
        }
        </div>
</div>


